*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,body{

    width: 100%;
    height: 100%;

}

#main{
    
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    cursor: pointer;
}

.crsr{

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    mix-blend-mode: difference;
}

#main h1{

    font-size: 10vw;
    font-family: Aeonik Pro;
    letter-spacing: 5px;
}

